<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DHAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DHAnimationBundle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>DHAnimationFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>DHAnimationLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>540AFA911CD34E5E004EF919</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>540AFA9A1CD34E5E004EF919</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5490CDDE1CD34F5300C93002</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54E263F81C8EBCBF00FFB67E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54E264111C8EBCBF00FFB67E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54E2641C1C8EBCBF00FFB67E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
